<!-- FOOTER -->
<div style="height: 1rem;"></div>

<div class="footer d-none-mobile d-none-ipad">

    <div class="content-wrapper" style="padding-top: 4rem; padding-bottom: 0rem;">
        <table class="text-white">
            <tr style="vertical-align: top;">
                <td style="width: 8%;">
                    <h4 class="aksar-normal" style="font-weight: 400; font-size: 18px; margin-bottom: 20px;line-height: 20px;">ABOUT US
                    </h4>
                    <ul style="list-style: none; margin-top: 20px; margin-bottom: 20px; padding-left: 0;">
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">OUR STORY</li>
                    </ul>
                </td>
                <td style="width: 8%;">
                    <h4 class="aksar-normal" style="font-weight: 400; font-size: 18px; margin-bottom: 20px;line-height: 20px;">BRANDS
                    </h4>
                    <ul style="list-style: none; margin-top: 20px; margin-bottom: 20px; padding-left: 0;">
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHAT BARBER</li>
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHAT SHOE TREATMENT</li>
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">RUPAKA</li>
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHATBOX</li>
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHTTN BASIC</li>
                    </ul>
                </td>
                <td style="width: 10%;">
                    <h4 class="aksar-normal" style="font-weight: 400; font-size: 18px; margin-bottom: 20px;line-height: 20px;">RENTALS
                    </h4>
                    <ul style="list-style: none; margin-top: 20px; margin-bottom: 20px; padding-left: 0;">
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">KOST UNGU FLAMBOYAN</li>
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CEMPAKA GUEST HOUSE</li>
                    </ul>
                    <div style="height: 4px !important;"></div>
                    <h2 class="aksar-normal" style="font-weight: 400; font-size: 18px; margin-bottom: 20px;line-height: 20px;">CONTACT US</h2>
                    <ul style="list-style: none; margin-top: 20px; margin-bottom: 20px; padding-left: 0;">
                        <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CONTACTUS@CHATATANGROUP.COM</li>
                    </ul>
                </td>
                <td style="width: 10%;">
                    <h4 class="aksar-normal" style="font-weight: 400; font-size: 18px; line-height: 27px;">
                        GET POINTS AND REDEEM IT. <br />BECOME THE MEMBER NOW!
                    </h4>
                    <div style="margin-bottom: 20px;"></div>
                    <div class="rounded">
                        <a href="#" class="border-rounded-white" style="display: inline-block;">
                            <div class="d-flex justify-content-between">
                                <span class="almarai-normal" style="font-size: 12px; color: #FFF; margin-right: 4.4rem; letter-spacing: 0.002rem;">DOWNLOAD APP</span>
                                <img src="assets/img/right-arrow-sm.svg" alt="" srcset="" style="filter: invert(1);" />
                            </div>
                        </a>
                    </div>
                </td>
                <td style="width: 5%;">
                    <div style="display: flex; flex-direction: column;">
                        <div class="text-center">
                            <img src="assets/img/chatatanlogo.svg" alt="" style="width: 119px; margin-top: 15px;">
                        </div>
                        <div style="margin-bottom: 1.4rem;"></div>
                        <div class="text-center">
                            <span class="aksar-normal" style="font-weight: 400; font-size: 18px; line-height: 20px;">FOLLOW US</span>
                        </div>
                        <div style="margin-bottom: 1.4rem;"></div>
                        <div class="text-center">
                            <img src="assets/img/instagram.svg" alt="" style="margin: 0.5rem; height: 30px;">
                            <a href="https://youtube.com/channel/UC6ral22t0ifuuSyXCFCbq3w" target="_blank">
                                <img src="assets/img/youtube.svg" alt="" style="filter: invert(1); height: 30px ;">
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div>
        <div class="content-wrapper" style="margin-bottom: 0px">
            <a href="#bigHeader">
                <img src="assets/img/arrow-top-circle-white.svg" alt="" srcset="" style="position: relative; left: 5%; top: 40px; width: 43px; height: 43px;">
            </a>
        </div>
        <hr style="width: 100%; height:1px; background-color: #FFFFFF;">
    </div>

    <div class="content-wrapper">
        <div style="display: flex; justify-content: space-between;">
            <span class="almarai-normal text-white"
                style="padding-top:20px; padding-bottom:20px; font-size: 10px; font-weight: 700; line-height: 11px;">©
                Chatatan Group 2015 - 2022. All rights reserved</span>
            <span class="almarai-normal text-white"
                style="padding-top:20px; padding-bottom:20px; font-size: 10px; font-weight: 700; line-height: 11px;">Design
                & development by Leah D.Studio</span>
        </div>
    </div>
</div>

<div class="footer d-none-desktop d-none-ipad">
    <div style="padding: 20px; padding-top: 40px;">
        <div style="display: inline;">
            <img src="assets/img/chatatanlogo.svg" alt="" style="width: 100px;">
        </div>
        <div style="float: right; margin-top: -14px;">
            <span class="aksar-normal" style="font-size: 14px; text-align: center; line-height: 50px; color: #FFFFFF;">
                FOLLOW US
            </span>
            <div style="text-align: center; width: 60px; margin-top: -8px;">
                <img src="assets/img/instagram.svg" alt="" style="margin-right: 5px;">
                <a href="https://youtube.com/channel/UC6ral22t0ifuuSyXCFCbq3w" target="_blank">
                    <img src="assets/img/youtube.svg" alt="" style="filter: invert(1); height: 24px;">
                </a>
            </div>
        </div>
    </div>

    <div style="color: #FFFFFF; padding: 20px; padding-top: 10px;">
        <h4 class="aksar-normal" style="font-weight: 400; font-size: 16px; margin-bottom: 15px;line-height: 20px;">
            ABOUT US
        </h4>
        <ul style="list-style: none; margin-top: 0px; margin-bottom: 10px; padding-left: 0;">
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 10px;">OUR STORY</li>
        </ul>
    </div>
    <hr style="width: 100vw; height: 1px; background-color: #ffffffb5; border-color: #000; margin-bottom: 8px; margin-top: 0;">
    <div style="color: #FFFFFF; padding: 20px;">
        <h4 class="aksar-normal" style="font-weight: 400; font-size: 16px; margin-bottom: 15px;line-height: 20px;">BRANDS
        </h4>
        <ul style="list-style: none; margin-top: 0px; margin-bottom: 0px; padding-left: 0;">
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHAT BARBER</li>
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHAT SHOE TREATMENT</li>
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">RUPAKA</li>
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHATBOX</li>
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHTTN BASIC</li>
        </ul>
    </div>
    <hr style="width: 100vw; height: 1px; background-color: #ffffffb5; border-color: #000; margin-bottom: 8px; margin-top: 0;">
    <div style="color: #FFFFFF; padding: 20px;">
        <h4 class="aksar-normal" style="font-weight: 400; font-size: 16px;line-height: 20px;">RENTALS
        </h4>
        <ul style="list-style: none; margin-top: 8px; margin-bottom: 8px; padding-left: 0;">
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 8px;">KOST UNGU FLAMBOYAN</li>
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 8px;">CEMPAKA GUEST HOUSE</li>
        </ul>
    </div>
    <hr style="width: 100vw; height: 1px; background-color: #ffffffb5; border-color: #000; margin-bottom: 8px; margin-top: 0;">
    <div style="color: #FFFFFF; padding: 20px">
        <h4 class="aksar-normal" style="font-weight: 400; font-size: 16px; margin-bottom: 10px;line-height: 20px;">CONTACT US</h4>
        <ul style="list-style: none; margin-top: 8px; margin-bottom: 8px; padding-left: 0;">
            <li class="almarai-normal" style="font-size: 12px;line-height: 25px;">CONTACTUS@CHATATANGROUP.COM</li>
        </ul>
    </div>
    <hr style="width: 100vw; height: 1px; background-color: #ffffffb5; border-color: #000; margin-bottom: 8px; margin-top: 0;">
    <div style="color: #FFFFFF; padding: 15px 20px">
        <span class="almarai-normal" style="font-size: 12px; line-height: 50px; color: #FFFFFF;">
            (c) Chatatan Group 2015 - 2022. All Rights Reserved
        </span>
    </div>
</div>

<div class="footer d-none-desktop d-none-mobile">
    <div style="display: flex; flex-direction: row;">
        <div style="flex: 1; color: #FFFFFF; padding-bottom: 20px; padding-top: 20px; padding-left: 30px; padding-right: 30px;">
            <h4 class="aksar-normal" style="font-weight: 400; font-size: 16px; margin-bottom: 15px;line-height: 20px;">
                ABOUT US
            </h4>
            <ul style="list-style: none; margin-top: 0px; margin-bottom: 10px; padding-left: 0;">
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 10px;">OUR STORY</li>
            </ul>
        </div>
        <div style="flex: 1; color: #FFFFFF; padding: 20px;">
            <h4 class="aksar-normal" style="font-weight: 400; font-size: 16px; margin-bottom: 15px;line-height: 20px;">BRANDS
            </h4>
            <ul style="list-style: none; margin-top: 0px; margin-bottom: 0px; padding-left: 0;">
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHAT BARBER</li>
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHAT SHOE TREATMENT</li>
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">RUPAKA</li>
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHATBOX</li>
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CHTTN BASIC</li>
            </ul>
        </div>
        <div style="flex: 1; color: #FFFFFF; padding: 20px;">
            <h4 class="aksar-normal" style="font-weight: 400; font-size: 16px; margin-bottom: 15px;line-height: 20px;">RENTALS</h4>
            <ul style="list-style: none; margin-top: 0px; margin-bottom: 0px; padding-left: 0;">
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">KOST UNGU FLAMBOYAN</li>
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CEMPAKA GUEST HOUSE</li>
            </ul>
            <div style="height: 4px !important;"></div>
            <h4 class="aksar-normal" style="font-weight: 400; font-size: 16px; margin-bottom: 15px;line-height: 20px;">CONTACT US</h4>
            <ul style="list-style: none; margin-top: 0px; margin-bottom: 0px; padding-left: 0;">
                <li class="almarai-normal" style="font-size: 12px;line-height: 25px;margin-bottom: 1.2rem;">CONTACTUS@CHATATANGROUP.COM</li>
            </ul>
        </div>
    </div>
    <div style="display: flex; flex-direction: row;">
        <div style="flex: 1; color: #FFFFFF; padding-bottom: 20px; padding-top: 30px; padding-left: 30px; padding-right: 30px;">
            <img src="assets/img/chatatanlogo.svg" alt="" style="width: 100px;">
        </div>
        <div style="flex: 1; color: #FFFFFF; padding: 20px;">
            <span class="aksar-normal" style="font-size: 14px; text-align: center; line-height: 50px; color: #FFFFFF;">
                FOLLOW US
            </span>
            <div style="text-align: center; width: 60px; margin-top: -8px;">
                <img src="assets/img/instagram.svg" alt="">
                <div style="margin: 2px 0; display: inline;"></div>
                <a href="https://youtube.com/channel/UC6ral22t0ifuuSyXCFCbq3w" target="_blank">
                    <img src="assets/img/youtube.svg" alt="" style="height: 24px; filter: invert(1);">
                </a>
            </div>
        </div>
        <div style="flex: 1; color: #FFFFFF; padding: 20px;">
            <h4 class="aksar-normal" style="font-weight: 400; font-size: 18px; line-height: 27px;">
                GET POINTS AND REDEEM IT. <br />BECOME THE MEMBER NOW!
            </h4>
            <div class="rounded">
                <a href="#" class="border-rounded-white" style="display: inline-block; padding: 6px 10px;">
                    <div class="d-flex justify-content-between">
                        <span class="almarai-normal" style="font-size: 10px; color: #FFF; margin-right: 4.4rem; letter-spacing: 0.002rem;">DOWNLOAD APP</span>
                        <img src="assets/img/right-arrow-sm.svg" alt="" srcset="" style="filter: invert(1);" />
                    </div>
                </a>
            </div>
        </div>
    </div>
    <hr style="width: 100vw; height: 1px; background-color: #ffffffb5; border-color: #000; margin-bottom: 8px; margin-top: 0;">
    <div style="color: #FFFFFF; padding: 15px 20px">
        <span class="almarai-normal" style="font-size: 12px; line-height: 50px; color: #FFFFFF;">
            (c) Chatatan Group 2015 - 2022. All Rights Reserved
        </span>
    </div>
</div>

</body>

</html>