<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CHATATAN GROUP| CHATATAN GROUP</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@400;600;700&family=Almarai:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/myassets.css">
</head>

<body>

    <!-- NAVBAR_DESKTOP -->
    <nav class="d-none-mobile d-none-ipad">
        <div class="content-wrapper">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <div style="padding-top: 2rem;padding-bottom: 2rem; margin-left: 0px; width: 243px; border-right: 1px solid #000000; text-align: left;">
                    <img src="assets/img/logo-nav-left.svg" alt="" srcset="">
                    <div style="margin-bottom: 1rem;"></div>
                    <a href="#" class="border-rounded" style="height: 30px; display: inline-block;padding-top: 3px;">
                        <div class="d-flex justify-content-between ">
                            <span style="font-size: 9px; font-weight: 1000; letter-spacing: 2%; color: #000000; margin-right: 3rem;" class="almarai-normal">LEARN MORE</span>
                            <img src="assets/img/right-arrow-sm.svg" alt="" srcset="" width="8px" height="9px" />
                        </div>
                    </a>
                </div>
                <div style="padding-top: 3rem; margin-left: 20px; width: 814px; text-align: center;" class="nav-left">
                    <a href="index.html">
                        <img src="assets/img/chttnlogo-black.svg" alt="" srcset="">
                    </a>
                </div>
                <div style="padding-top: 4.5rem; margin-left: 20px; width: 243px; text-align: right;" class="nav-left">
                    <img src="assets/img/hamburger-icon.svg" alt="" srcset="">
                </div>  
            </div>
        </div>
        <hr style="width: 100%; margin: 0; padding: 0; height: 1px; background-color: #000000; margin-top: -1px;">
    </nav>

    <!-- NAVBAR_MOBILE -->
    <nav class="d-none-desktop">
        <table style="width: 100%">
            <tr style=" border-bottom: 1px solid #000000;">
                <td style="width: 67px; text-align: center; border-right: 1px solid #000000;">
                    <img src="assets/img/hamburger-icon.svg" alt="" srcset="">
                </td>
                <td style="text-align: center; padding: 20px 0; padding-top: 30px;">
                    <a href="index.html" style="margin-left: -50px;">
                        <img src="assets/img/chttnlogo-black.svg" alt="" srcset="" style="width: 72px;">
                    </a>
                </td>
            </tr>
        </table>
    </nav>

    <!-- SPASI_DESKTOP -->
    <div style="background-color: #FFFFFF;height: 158px;margin-bottom: 2px;" class="d-none-mobile d-none-ipad"></div>

    <!-- SPASI_MOBILE -->
    <div style="background-color: #FFFFFF;height: 28px;margin-bottom: 2px;" class="d-none-desktop d-none-ipad"></div>

    <!-- SPASI_IPAD -->
    <div style="background-color: #FFFFFF;height: 110px;margin-bottom: 2px;" class="d-none-desktop d-none-mobile"></div>

    <!-- HEADER -->