.content-wrapper {
    width: 1300px;
    margin: auto;
}

nav {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    background-color: #F98D2A;
    border-color: white;
    color: white;
}

nav a:hover span {
    color: white !important;
}

nav a:hover img {
    filter: invert(1);
}

nav a {
    text-decoration: none;
}

.rounded a:hover {
    text-decoration: none;
    background-color: #F98D2A;
    border-color: white;
    color: white;
}

.rounded a:hover span {
    color: white !important;
}

.rounded a:hover img {
    filter: invert(1);
}

.border-rounded {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 1rem 1.4rem;
    justify-content: space-between;
}

.border-rounded-white {
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    padding: 1rem 1.4rem;
    justify-content: space-between;
    color: #FFFFFF;
}

.aksar-normal {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
}

.almarai-normal {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
}

.text-white {
    color: #FFFFFF;
}