html {
    scroll-behavior: smooth;
    width: 1440px;
    margin: auto;
}

.bg-white {
    background-color: #FFFFFF;
}

.text-white {
    color: #FFFFFF;
}

.bg-dark {
    background-color: #151515;
}

.text-dark {
    color: #151515;
}

.big-header {
    height: 542px;
}

.white-space {
    height: 158px;
    margin-bottom: 2px;
}

.horizontal-line {
    width: 100%;
    height: 1px;
}

.content-wrapper {
    margin: auto;
    width: 1360px;
}

.center {
    display: block;
    margin: auto;
}

.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.mb-3 {
    margin-bottom: 3rem;
}

.mb-8 {
    margin-bottom: 8rem;
}

.logo-product {
    padding-top: 132px;
    padding-bottom: 132px;
}

.border-rounded {
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 1rem 1.4rem;
    justify-content: space-between;
}

.border-rounded-white {
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    padding: 1rem 1.4rem;
    justify-content: space-between;
    color: #FFFFFF;
}

.aksar-normal {
    font-family: 'Akshar';
    font-style: normal;
    font-weight: 400;
}

.almarai-normal {
    font-family: 'Almarai';
    font-style: normal;
    font-weight: 300;
}

nav {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
}

nav .nav-left a {
    text-decoration: none;
}

nav .nav-left a:hover {
    text-decoration: none;
    background-color: #F98D2A;
    border-color: white;
    color: white;
}

nav .nav-left a:hover span {
    color: white !important;
}

nav .nav-left a:hover img {
    filter: invert(1);
}

nav .nav-left a {
    text-decoration: none;
}

.rounded a:hover {
    text-decoration: none;
    background-color: #F98D2A;
    border-color: white;
    color: white;
}

.rounded a:hover span {
    color: white !important;
}

.rounded a:hover img {
    filter: invert(1);
}