/* 
font-family: 'Akshar', sans-serif;
font-family: 'Almarai', sans-serif; */

:root {
    --gray: #D9D9D9;
    --dark: #000000;
    --white: #FFFFFF;
}

header {
    height: 50vh;
    position: relative;
}

    header .image-illustration {
        position: absolute;
        top: 20%;
        left: 32%;
    }

    header .contact-us {
        position: absolute;
        left: 33px;
        bottom: -170px;
        display: flex;
    }

        header .contact-us .icon-sosmed {
            padding-left: 20px;
            align-self: center;
        }

        header .contact-us .contact-us-header {
            width: 120px;
            font-size: 10px;
            text-decoration: none;
            color: var(--dark);
            display: flex;
            justify-content: space-between;
        }

            header .contact-us .contact-us-header svg {
                align-self: center;
            }

    header .get-point-and-redems {
        position: absolute;
        right: 33px;
        top: 230px;
    }

        header .get-point-and-redems .download-app {
            width: 206px;
            font-size: 10px;
            text-decoration: none;
            color: var(--dark);
            display: flex;
            justify-content: space-between;
        }

            header .get-point-and-redems .download-app svg {
                align-self: center;
            }

    header .text-multiple-brands {
        position: absolute;
        left: 33px;
        top: 60px;
    }

        header .text-multiple-brands .visit-our-stories {
            width: 206px;
            font-size: 10px;
            text-decoration: none;
            color: var(--dark);
            display: flex;
            justify-content: space-between;
        }

            header .text-multiple-brands .visit-our-stories svg {
                align-self: center;
            }

nav {

}

    nav hr {
        background-color: var(--dark);
        padding: 0;
        /* margin-left: -15px;
        margin-right: -15px; */
        margin-top: 0;
        margin-bottom: 0;
    }

    nav .nav-right {
        padding-top: 6rem;
    }

    nav .nav-center {
        padding-top: 4.3rem;
    }

        nav .nav-center svg {
            align-self: center;
        }

    nav .nav-left {
        padding-top: 1.6rem;
        padding-bottom: 1.2rem;
        border-right: 1px solid #000000;
    }

        nav .nav-left .learn-more {
            width: 125px;
            font-size: 10px;
            text-decoration: none;
            color: var(--dark);
            display: flex;
            justify-content: space-between;
        }

            nav .nav-left .learn-more svg {
                align-self: center;
            }



/* COMPONENT */
.border-rounded {
    border: 1px solid #000000;
    border-radius: 25px;
    padding: 1rem 1.4rem;
    justify-content: space-between;
}

.margin-y {
    margin-top: 1rem;
    margin-bottom: 1rem;
}